<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 定制邮件服务开始 -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.163.com"/>
        <property name="port" value="25"/>
        <property name="protocol" value="smtp"/>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="username" value="ilikerpublic@163.com"/>
        <property name="password" value="1zM818uehOF0Be6E"/>
    </bean>
    <!-- 邮件发送模板 -->
    <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="ilikerpublic@163.com"/>
        <property name="subject" value="致:亲爱的艾拉奇会员!"/>
    </bean>
    <!-- 配置发送模板bean -->
    <bean id="freeMarkerConfigurer"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!--模板路径位置 -->
        <property name="templateLoaderPaths">
            <list>
                <value>classpath:cn/iliker/mall/template</value>
            </list>
        </property>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">1800</prop><!-- 模板更新延时 -->
                <prop key="default_encoding">UTF-8</prop>
                <prop key="locale">zh_CN</prop>
            </props>
        </property>
    </bean>
    <bean id="emailJob" class="cn.iliker.mall.utils.EmailJob" p:mailSender-ref="mailSender"
          p:mailMessage-ref="mailMessage"
          p:freeMarkerConfigurer-ref="freeMarkerConfigurer" p:imgPath="classpath:cn/iliker/mall/template/logo.png"/>
    <bean id="jobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"
          p:targetObject-ref="userAction">
        <property name="targetMethod" value="autoSendEmail"/>
        <property name="concurrent" value="false"/>
        <!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
    </bean>

    <!-- 每隔5秒执行一次：*/5 * * * * ? 每隔1分钟执行一次：0 */1 * * * ? 每天23点执行一次：0 0 23 * * ?
         每天凌晨1点执行一次：0 0 1 * * ? 每月1号凌晨1点执行一次：0 0 1 1 * ? 每月最后一天23点执行一次：0 0 23 L * ?
         每周星期天凌晨1点实行一次：0 0 1 ? * L 在26分、29分、33分执行一次：0 26,29,33 * * * ?
         每天的0点、13点、18点、21点都执行一次：0 0 0,13,18,21 * * ? -->
    <!--定制自动发送邮件任务-->
    <!--<bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression" value="0 0 1 ? * L"/>
    </bean>
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="trigger"/>
            </list>
        </property>
        <property name="autoStartup" value="false"/>
    </bean>-->
    <!--定制自动发送邮件任务-->
    <!-- 定制邮件服务结束 -->
</beans>