@charset "utf-8";
/* CSS Document */
#header, #content, #footer, #comment {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#header header {
    -webkit-box-sizing: border-box;
    position: relative;
    height: 3.25rem;
    padding-top: 0.5rem;
    background: #f5f5f5;
    border-bottom: 1px solid #dedede;
    font-size: 1.25rem;
    color: #663333;
    text-align: center;
    line-height: 2.75rem;
}

#header header h1 {
    font-size: 1.125rem;
    color: #666;
    text-align: center;
    line-height: 2.25rem;
}

.search {
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 2.25rem;
    padding: 0 0.5rem;
    overflow: hidden
}

.ipt {
    -webkit-box-flex: 1;
    margin-right: 0.5rem;
}

.ipt input {
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 2.25rem;
    padding-left: 0.25rem;
    border: 1px solid #f0f0f0;
    overflow: hidden
}

.searchBtn, .searchSub {
    width: 2.5rem;
    height: 2.25rem;
    background: #f40 url(res-apple/search.png) no-repeat center;
    background-size: 1.75rem auto !important;
    border-radius: 0.25rem;
    text-align: center
}

.searchBtnDown {
    background: #b30 url(res-apple/search.png) no-repeat center;
}

.searchSub {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 999;
}

.back, .headerRight {
    -webkit-box-sizing: border-box;
    width: 3.75rem;
    height: 2.25rem;
    background: #fff;
    border: 1px solid #dedede;
    font-size: 0.875rem;
    color: #999;
    text-align: center;
    line-height: 2.25rem;
    position: absolute;
    top: 0.5rem;
    z-index: 999;
}

.back {
    left: 0.5rem;
}

.headerRight {
    right: 0.5rem;
}

.backDown {
    background: #bbb
}

.tab {
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.875rem;
    line-height: 2rem;
    color: #999;
    overflow: hidden
}

.tab li {
    width: 25%;
    height: 2rem;
    float: left;
}

.tabDown {
    background: #f5f5f5 !important;
    color: #f50 !important
}

.tabFouce {
    color: #f50
}

#content {
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: left;
}

/*底部菜单*/
#footer footer {
    -webkit-box-sizing: border-box;
    widht: 100%;
    height: 3.5rem;
    background: #f5f5f5;
    border-top: 1px solid #dedede;
    overflow: hidden;
    
}

#footer footer li {
    -webkit-box-sizing: border-box;
    width: 20%;
    height: 3.5rem;
    padding-top: 2.5rem;
    float: left;
    background-size: 2rem auto !important;
    text-align: center;
    font-size: 0.6875rem;
    color: #666;
    position: relative
}

.navDown {
    background: #eee !important;
    color: #f40 !important
}

.home {
    background: url(res-apple/home.png) no-repeat center 0.375rem;
    background-size: 2rem auto
}

.homeFouce, .classifyFouce, .userFouce, .shopFouce, .moreFouce {
    color: #f40 !important
}

.homeFouce {
    background: url(res-apple/home_f.png) no-repeat center 0.375rem;
}

.classify {
    background: url(res-apple/classify.png) no-repeat center 0.375rem;
}

.classifyFouce {
    background: url(res-apple/classify_f.png) no-repeat center 0.375rem;
}

.user {
    background: url(res-apple/user.png) no-repeat center 0.375rem;
}

.userFouce {
    background: url(res-apple/user_f.png) no-repeat center 0.375rem;
}

.shop {
    background: url(res-apple/shop.png) no-repeat center 0.375rem;
}

.shopFouce {
    background: url(res-apple/shop_f.png) no-repeat center 0.375rem;
}

.more {
    background: url(res-apple/more.png) no-repeat center 0.375rem;
}

.moreFouce {
    background: url(res-apple/more_f.png) no-repeat center 0.375rem;
}

.shop_num {
    width: 1rem;
    height: 1rem;
    background: #f00;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1rem;
    overflow: hidden;
    color: #fff;
    position: absolute;
    top: 0.25rem;
    left: 2.5rem;
    z-index: 99
}

.footBtn {
    width: 98%;
    height: 2.5rem;
    background: #ff4400;
    margin: 0 auto 0.125rem;
    -webkit-border-radius: 0.25rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
    color: #fff;
    text-align: center;
    line-height: 2.5rem
}

.footBtn:disabled {
    background: #ddd;
    color: #999;
    text-shadow: none
}

.headerBtn {
    right: 0;
    background-size: 4rem auto;
}

.headerSub, .headerShare {
    right: 0;
    background-size: 4rem auto;
    color: #663333;
    font-size: 0.75rem;
    line-height: 3.875rem;
}

.headerShare {
    background-size: 4rem auto;
}
